.delete-product{
width:400px;
margin:auto;
margin-top:50px;
}

.product-item{
display:flex;
justify-content:space-between;
margin:10px 0;
padding:10px;
border:1px solid gray;
}

.product-item button{
background:red;
color:white;
border:none;
padding:5px 10px;
cursor:pointer;
}