    .edit-product{
    width:300px;
    margin:auto;
    margin-top:80px;
    }

    .edit-product form{
    display:flex;
    flex-direction:column;
    }

    .edit-product input{
    margin-bottom:15px;
    padding:10px;
    }

    .edit-product button{
    padding:10px;
    background:orange;
    color:white;
    border:none;
    cursor: pointer;
    }

    .edit-product button:hover{
        background-color: rgb(230, 153, 10);
    }