    .products{
    padding:40px;
    }

    .product-list{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    }

    .search{
    padding:10px;
    margin-bottom: 20px;
    margin-right: 10px;
    width:300px;
    }
    .price{
    padding:10px;
    margin-bottom:20px;
    width:300px;
    }